---
import PageLayout from "@layouts/Page.astro"
import PageContainer from "@components/PageContainer.astro"
import PostsPreview from "@components/PostsPreview.astro"

import type { MDXInstance } from "astro"
import type { Frontmatter } from "@types"

interface Props {
  posts: MDXInstance<Frontmatter>[]
}

export async function getStaticPaths({}) {
  const posts = await Astro.glob<Frontmatter>("../*.mdx")
  const tags = posts.map((p) => p.frontmatter.tags ?? []).flat()
  const uniqueTags = Array.from(new Set(tags))
  return uniqueTags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        posts: posts.filter((post) => {
          const { tags = [] } = post.frontmatter
          return tags.includes(tag)
        }),
      },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<PageLayout title={`Dan's posts tagged ${String(tag)}`}>
  <PageContainer>
    <header class="page-header">
      <h1 class="page-h1">
        Posts tagged {tag}
      </h1>

      <p class="page-p mt-6">
        So far I have written {posts.length} post(s) about this topic. See <a
          class="text-slate-900 dark:text-white font-medium underline decoration-solid"
          href="/posts/tags">all tags</a
        > to discover posts about other topic(s).
      </p>
    </header>

    <section class="page-section">
      <PostsPreview posts={posts} />
    </section>
  </PageContainer>
</PageLayout>
