@tailwind base;
@tailwind components;
@tailwind utilities;

/*
See: https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles
*/
@layer base {
  :root {
    /*
    For using CSS vars see:
    https://tailwindcss.com/docs/customizing-colors#using-css-variables
    */

    /* Main theme */
    --color-bg-body: 250 250 250; /* zinc-50 */
    --color-bg-body-inverted: 0 0 0; /* black */
    --color-bg-primary: 255 255 255; /* white */
    --color-bg-primary-inverted: 24 24 27; /* zinc-900 */
    --color-bg-secondary: 244 244 245; /* zinc-100 */
    --color-bg-secondary-inverted: 0 0 0; /* black */
    --color-bg-hover: 250 250 250; /* zinc-50 */
    --color-bg-hover-inverted: 39 39 42; /* zinc-800 */
    --color-text-primary: 39 39 42; /* zinc-800 */
    --color-text-primary-inverted: 228 228 231; /* zinc-200 */
    --color-text-secondary: 82 82 91; /* zinc-600 */
    --color-text-secondary-inverted: 161 161 170; /* zinc-400 */
    --color-text-link: 82 82 91; /* zinc-600 */
    --color-text-link-inverted: 161 161 170; /* zinc-400 */
    --color-text-special: 39 39 42; /* zinc-800 */
    --color-text-special-inverted: 228 228 231; /* zinc-200 */
    --color-text-highlight: 20 184 166; /* teal-500 */
    --color-text-highlight-inverted: 45 212 191; /* teal-400 */
    --color-decoration-primary: 20 184 166; /* teal-500 */
    --color-decoration-primary-inverted: 45 212 191; /* teal-400 */
    --color-border: 82 82 91; /* zinc-600 */
    --color-border-inverted: 63 63 70; /* zinc-700 */
    --color-focus: 20 184 166; /* teal-500 */
    --color-focus-inverted: 45 212 191; /* teal-400 */
    --color-box-shadow: 39 39 42; /* zinc-800 */
  }

  /* Background */

  .pattern-boxes {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='rgb(161 161 170 / 0.6)' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  }

  /* Post styles */

  article :is(h2, h3, h4, h5, h6) {
    @apply flex items-center gap-2 md:flex-row-reverse md:justify-end md:-ml-8;
  }

  article :is(h2, h3, h4, h5, h6) > a {
    @apply p-1 md:opacity-0;
  }

  article :is(h2, h3, h4, h5, h6):hover > a {
    @apply opacity-100;
  }

  article img {
    @apply border border-dashed border-danos-primary dark:border-none;
  }

  .prose blockquote cite p::before {
    content: "\2014"; /* Em dash */
  }
  .prose blockquote cite p::after {
    content: none;
  }
  .prose blockquote a {
    @apply text-danos-primary dark:text-danos-primary-inverted;
  }

  article :is(h2, h3, h4, h5, h6),
  sup a,
  a[id="introduction"],
  section[data-footnotes] li {
    @apply scroll-mt-12;
  }

  table {
    @apply block overflow-x-scroll whitespace-nowrap max-w-fit mx-auto sm:table sm:table-auto sm:whitespace-normal sm:max-w-none;
  }

  sup a[aria-describedby="footnote-label"],
  a[data-footnote-backref] {
    @apply no-underline;
  }
  sup a[aria-describedby="footnote-label"]::before {
    content: "[";
  }
  sup a[aria-describedby="footnote-label"]::after {
    content: "]";
  }

  .toc-active {
    @apply text-danos-highlight dark:text-danos-highlight-inverted;
  }
  a[data-indent="1"] {
    @apply pl-4;
  }
  a[data-indent="2"] {
    @apply pl-8;
  }
  a[data-indent="3"] {
    @apply pl-12;
  }
  a[data-indent="4"] {
    @apply pl-16;
  }
  a[data-indent="5"] {
    @apply pl-20;
  }

  /* Code snippets */

  div[data-rehype-pretty-code-fragment] {
    @apply my-5 border border-danos-primary dark:border-danos-primary-inverted rounded-sm;
  }

  div[data-rehype-pretty-code-title] {
    @apply p-1 font-sans text-xs text-center text-danos-primary dark:text-danos-primary-inverted bg-danos-secondary/50 dark:bg-danos-secondary-inverted/50 border-b border-danos-primary dark:border-danos-primary-inverted;
  }

  pre > code {
    --line-highlighted-border-width: 3px;

    --line-num-color: #1b1f234d;
    --line-num-highlighted-color: #24292e;
    --line-highlighted-bg: #0366d625;
    --line-highlighted-border: #005cc5;
    --line-highlighted-word-bg: #0366d625;

    --line-num-color-inverted: #444d56;
    --line-num-highlighted-color-inverted: #e1e4e8;
    --line-highlighted-bg-inverted: #3392ff44;
    --line-highlighted-border-inverted: #79b8ff;
    --line-highlighted-word-bg-inverted: #3392ff44;

    @apply grid;
  }

  code [data-line] {
    @apply px-5;

    padding-left: calc(1.25rem - var(--line-highlighted-border-width));

    /* Prevent misalignment when line numbers are enabled. */
    border-left-width: var(--line-highlighted-border-width);
    border-left-style: solid;
    border-left-color: transparent;
  }

  code[data-line-numbers] [data-line] {
    @apply pl-0;
  }
  code[data-line-numbers] {
    counter-reset: line;
  }
  code[data-line-numbers] > [data-line]::before {
    @apply inline-block mr-4 w-4 text-right;

    counter-increment: line;
    content: counter(line);
  }
  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    @apply w-8;
  }
  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    @apply w-12;
  }

  code [data-highlighted-line] {
    border-left-width: var(--line-highlighted-border-width);
    border-left-style: solid;
  }

  /* Webmentions */

  .wm-reply-content p {
    @apply my-3;
  }

  /* Animations */

  @keyframes blink {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Dark/light mode overrides */

  @media (prefers-color-scheme: light) {
    /* Code snippets */

    div[data-rehype-pretty-code-title][data-theme="dark"],
    pre[data-theme="dark"],
    code[data-theme="dark"] {
      display: none;
    }

    code[data-line-numbers] > [data-line]::before {
      color: var(--line-num-color);
    }
    code[data-line-numbers] > [data-highlighted-line]::before {
      color: var(--line-num-highlighted-color);
    }

    code [data-highlighted-line] {
      background: var(--line-highlighted-bg);
      border-left-color: var(--line-highlighted-border);
    }
    code [data-highlighted-chars] {
      background: var(--line-highlighted-word-bg);
    }
  }

  @media (prefers-color-scheme: dark) {
    img {
      filter: brightness(0.8) contrast(1.2);
    }

    /* Code snippets */

    div[data-rehype-pretty-code-title][data-theme="light"],
    pre[data-theme="light"],
    code[data-theme="light"] {
      display: none;
    }

    code[data-line-numbers] > [data-line]::before {
      color: var(--line-num-color-inverted);
    }
    code[data-line-numbers] > [data-highlighted-line]::before {
      color: var(--line-num-highlighted-color-inverted);
    }

    code [data-highlighted-line] {
      background: var(--line-highlighted-bg-inverted);
      border-left-color: var(--line-highlighted-border-inverted);
    }
    code [data-highlighted-chars] {
      background: var(--line-highlighted-word-bg-inverted);
    }
  }
}

/*
See: https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes */
@layer components {
  /* Container styles */

  .page-wrapper {
    @apply px-4 sm:px-8 lg:px-12 my-6 sm:my-12;
  }

  .page-header {
    @apply max-w-2xl;
  }

  .page-content {
    @apply mt-14 sm:mt-16;
  }

  .scroll-x {
    @apply overflow-y-hidden overflow-x-scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* Text styles */

  .nav-text {
    @apply font-sans text-sm text-danos-primary dark:text-danos-primary-inverted;
  }

  .page-heading {
    @apply font-bold tracking-tight text-4xl leading-tight sm:text-5xl sm:leading-tight text-danos-primary dark:text-danos-primary-inverted;
  }

  .page-subheading {
    @apply font-semibold tracking-tight text-base text-danos-primary dark:text-danos-primary-inverted;
  }

  .page-text {
    @apply text-base text-danos-secondary dark:text-danos-secondary-inverted;
  }

  .page-subtext {
    @apply font-sans text-base text-danos-secondary dark:text-danos-secondary-inverted;
  }

  /* Link styles */

  .page-link {
    @apply font-normal underline underline-offset-4 decoration-1 decoration-danos-primary dark:decoration-danos-primary-inverted text-danos-link dark:text-danos-link-inverted focusable;
  }

  /* Focus styles */

  .focusable {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-danos-focus dark:focus:ring-danos-focus-inverted;
  }

  /* Animation styles */

  .blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
}
