---
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import Prompt from "@components/Prompt.astro"
import TerminalLink from "@components/TerminalLink.astro"

const banner = `
     █████                         ███████     █████████ 
    ░░███                        ███░░░░░███  ███░░░░░███
  ███████   ██████   ████████   ███     ░░███░███    ░░░ 
 ███░░███  ░░░░░███ ░░███░░███ ░███      ░███░░█████████ 
░███ ░███   ███████  ░███ ░███ ░███      ░███ ░░░░░░░░███
░███ ░███  ███░░███  ░███ ░███ ░░███     ███  ███    ░███
░░████████░░████████ ████ █████ ░░░███████░  ░░█████████ 
 ░░░░░░░░  ░░░░░░░░ ░░░░ ░░░░░    ░░░░░░░     ░░░░░░░░░  
`
---

<PageLayout>
  <Window>
    <div class="p-2 font-mono text-sm page-text">
      <p
        aria-hidden="true"
        class="hidden md:block whitespace-pre-wrap leading-none text-center text-danos-primary dark:text-danos-primary-inverted"
      >
        {banner}
      </p>

      <br class="hidden md:block" />

      <p
        aria-hidden="true"
        class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
      >
        <Prompt /> cat about.txt
      </p>

      <br />

      <p>Hi, I'm Dan. Welcome to my site!</p>

      <br />

      <p>I'm a self-taught software developer from the Netherlands.</p>

      <p>
        I love to design and build software that's reliable, easy to maintain,
        and scales well.
      </p>

      <br />

      <p>
        Currently working at <TerminalLink
          href="https://www.framer.com/"
          class="inline-block">Framer</TerminalLink
        > as a backend engineer, helping build and scale sites.
      </p>

      <br />

      <p>
        <Prompt /> If you want to chat, send me an email to "hi" <i>at</i> "danillouz"
        <i>dot</i> "dev".
      </p>

      <p>
        <Prompt />
      </p>

      <p>
        <Prompt />
      </p>

      <p
        aria-hidden="true"
        class="font-semibold text-danos-primary dark:text-danos-primary-inverted"
      >
        <Prompt /> ls links
      </p>

      <br />

      <p class="flex items-center gap-6 flex-wrap">
        <TerminalLink href="https://github.com/danillouz">GitHub</TerminalLink>

        <TerminalLink href="https://stackoverflow.com/users/4455533/danillouz">
          Stack Overflow
        </TerminalLink>

        <TerminalLink href="https://www.linkedin.com/in/danillouz/">
          Linkedin
        </TerminalLink>
      </p>

      <br />

      <p>
        <Prompt />
        <span class="blink">_</span>
      </p>
    </div>
  </Window>
</PageLayout>
