---
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
---

<PageLayout>
  <Window>
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-heading">Hi, I'm Daniël</h1>
        <p class="page-text mt-6">Welcome to my site!</p>
      </header>
    </div>
  </Window>
</PageLayout>
