---
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
---

<PageLayout>
  <Window>
    <div class="px-4 sm:px-8 lg:px-12 my-12 sm:my-24">
      <header class="page-header">
        <h1 class="page-h1">Hi, I'm Daniël</h1>
        <p class="page-p mt-6">Welcome to my site!</p>
      </header>
    </div>
  </Window>
</PageLayout>
