---
import PageLayout from "../layouts/Page.astro"
---

<PageLayout>
  <section
    class="mx-auto px-6 my-10 sm:my-20 prose sm:prose-lg prose-slate prose-headings:font-serif dark:prose-invert"
  >
    <h1>Home</h1>
    <p>Welcome to my personal site!</p>
  </section>
</PageLayout>
