---
import { RSS_TITLE, RSS_DESCRIPTION } from "@config"
import PageLayout from "@layouts/Page.astro"
import Window from "@components/Window.astro"
import PostsPreview from "@components/PostsPreview.astro"

import type { Frontmatter } from "@types"

const posts = (await Astro.glob<Frontmatter>("./posts/*.mdx")).sort((a, b) => {
  const pubDateA = a.frontmatter.publishedAt ?? new Date()
  const pubDateB = b.frontmatter.publishedAt ?? new Date()
  return new Date(pubDateB).getTime() - new Date(pubDateA).getTime()
})

const tags = posts.map((p) => p.frontmatter.tags ?? []).flat()
const uniqueTags = Array.from(new Set(tags))
---

<PageLayout title={RSS_TITLE} description={RSS_DESCRIPTION}>
  <Window>
    <div class="px-4 sm:px-8 lg:px-12 my-12 sm:my-24">
      <header class="page-header">
        <h1 class="page-h1">
          Writing about things I learned and find interesting
        </h1>

        <p class="page-p mt-6">
          So far I have written {posts.length} post(s), about {
            uniqueTags.length
          } topic(s). See <a
            class="text-slate-900 dark:text-white font-medium underline decoration-solid"
            href="/posts/tags">all tags</a
          > to discover posts by topic. Or browse all posts below in chronological
          order.
        </p>
      </header>

      <section class="page-section">
        <PostsPreview posts={posts} />
      </section>
    </div>
  </Window>
</PageLayout>
