---
interface Props {
  href: string
  title: string
  children: any
  class?: string
}

const { href, title, class: className } = Astro.props

let isActive = false
if (href) {
  const { pathname } = Astro.url
  if (href === "/") {
    isActive = pathname === href
  } else {
    isActive = pathname.includes(href)
  }
}
---

<a
  href={href}
  title={title}
  aria-current={isActive ? "page" : undefined}
  class:list={[
    // Base styles.
    "nav-text",

    // Custom styles.
    className,
  ]}
>
  <div class="flex flex-col items-center gap-1">
    <div
      class="flex items-center justify-center w-12 h-12 mt-1 rounded-full bg-danos-secondary dark:bg-danos-secondary-inverted ring-1 ring-danos-primary dark:ring-danos-primary-inverted"
    >
      <slot />
    </div>

    <span class="inline-block">{title}</span>

    <span
      class:list={[
        // Base styles.
        "w-1 h-1 rounded-full",

        {
          // Active styles.
          "bg-danos-primary-inverted dark:bg-danos-primary": isActive,
        },
      ]}></span>
  </div>
</a>
