---
import NavLink from "./NavLink.astro"
---

<header>
  <nav>
    <NavLink href="/">Home</NavLink>
    <NavLink href="/posts">Posts</NavLink>
    <NavLink href="/feed.xml" target="_blank">RSS feed</NavLink>
  </nav>
</header>
