---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
  children: any
  class?: string
}

const { href, class: className, ...props } = Astro.props

let isActive = false
if (href) {
  const { pathname } = Astro.url
  if (href === "/") {
    isActive = pathname === href
  } else {
    isActive = pathname.includes(href)
  }
}
---

<a
  href={href}
  class:list={[
    // Base styles.
    "px-3 py-1 text-sm",

    // Active styles.
    { "bg-zinc-200 dark:bg-zinc-700": isActive },

    // Custom styles.
    className,
  ]}
  aria-current={isActive ? "page" : undefined}
  {...props}
>
  <slot />
</a>
