---
interface Props {
  children?: any
  class?: string
}

const { class: className } = Astro.props
---

<span
  class:list={[
    // Base styles.
    "after:content-['$'] after:text-zinc-400 after:dark:text-zinc-500 after:font-semibold",

    // Custom styles.
    className,
  ]}
>
  <slot />
</span>
