---
interface Props {
  children?: any
  class?: string
}

const { class: className } = Astro.props
---

<span
  aria-hidden="true"
  class:list={[
    // Base styles.
    "after:content-['$'] after:text-danos-secondary/70 after:dark:text-danos-secondary-inverted/70 after:font-semibold",

    // Custom styles.
    className,
  ]}
>
  <slot />
</span>
