---
interface Props {
  children?: any
  class?: string
}

const { class: className } = Astro.props
---

<span
  aria-hidden="true"
  class:list={[
    // Base styles.
    "after:content-['$'] after:text-danos-tertiary/80 after:dark:text-danos-tertiary-inverted/80 after:font-semibold",

    // Custom styles.
    className,
  ]}
>
  <slot />
</span>
