---
interface Props {
  name: string
  children: any
  class?: string
}

const { name, class: className, ...props } = Astro.props
---

<a
  href={`/posts/tags/${name}`}
  class:list={[
    // Base styles.
    "inline-block px-3 py-1 rounded-sm text-xs font-medium tracking-wide focusable",

    // Base color styles.
    // bg-zinc-900
    "font-sans text-[#fff] dark:text-danos-primary-inverted bg-[#18181b] dark:bg-danos-secondary-inverted dark:ring-1 dark:ring-danos-primary-inverted",

    // Custom styles.
    className,
  ]}
  {...props}
>
  <slot />
</a>
