---
interface Props {
  name: string
  children: any
  class?: string
}

const { name, class: className, ...props } = Astro.props
---

<a
  href={`/posts/tags/${name}`}
  class:list={[
    // Base styles.
    "inline-block px-3 py-1 rounded-xl text-xs font-semibold tracking-wide",

    // Default color styles.
    "text-zinc-600 dark:text-zinc-300 bg-opacity-10 dark:bg-opacity-20 bg-zinc-500 dark:bg-zinc-400",

    // Custom styles.
    className,
  ]}
  {...props}
>
  <slot />
</a>
