---
interface Props {
  name: string
  children: any
  class?: string
}

const { name, class: className, ...props } = Astro.props
---

<a
  href={`/posts/tags/${name}`}
  class:list={[
    // Base styles.
    "inline-block px-3 py-1 rounded-xl text-xs font-medium tracking-wide",

    // Base color styles.
    "font-sans text-danos-primary dark:text-danos-primary-inverted bg-danos-secondary dark:bg-danos-secondary-inverted ring-1 ring-danos-primary dark:ring-danos-primary-inverted",

    // Custom styles.
    className,
  ]}
  {...props}
>
  <slot />
</a>
