---
interface Props {
  href: string
  children: any
  class?: string
}

const { href, class: className } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[
    // Base styles.
    "page-link",

    // Custom styles.
    className,
  ]}
>
  <slot />
</a>
