---
interface Props {
  children: any
}
---

<figure
  class="flex flex-col rounded-sm bg-danos-primary dark:bg-danos-primary-inverted ring-1 ring-danos-primary dark:ring-danos-primary-inverted shadow-lg"
>
  <div class="h-7 hidden md:flex md:items-center px-2">
    <div class="flex items-center gap-2">
      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>

      <span
        class="h-3 w-3 rounded-full border border-danos-primary dark:border-danos-primary-inverted"
      ></span>
    </div>
  </div>

  <div
    class="max-w-xs max-h-[55vh] flex-1 px-4 py-6 overflow-y-scroll scroll-smooth border-t border-b border-danos-primary dark:border-danos-primary-inverted focus-visible:focusable"
  >
    <nav class="page-text text-sm font-sans">
      <h2 class="page-subheading mb-2">Table of contents</h2>

      <slot />
    </nav>
  </div>

  <div class="h-6 flex page-subtext text-xs"></div>
</figure>
